<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Working Hours</ion-title>
  </ion-toolbar>
</ion-header>

<!-- header at IOS interface -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Opening Hours</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- card for first article -->
  <ion-card>
    <ion-card-header>
      <ion-card-title><center>Visiting Hours</center></ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- insert image -->
      <!-- <img src="assets/vaccine.jpg"> -->
      <p>(Kindly contact our reception counter before visiting your pet)
        Monday to Saturday: 11.00am – 7.30pm
        Sunday: 11.00am – 5.30pm</p>
    </ion-card-content>
  </ion-card>

  <!-- card for second article -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consultation Hours</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- insert image -->
      <!-- <img src="assets/lab.jpg"> -->
      <p>Monday to Friday: 9.00 am – 9.00 pm.
        Saturday & Sunday: 9.00 am – 6.00 pm.
        * Appointments can be made via this website</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Location</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <img src="assets/rehab.jpg"> -->
      <p>Animal Medical Centre Sdn Bhd
        Wisma Medivet, 8, Jln Tun Razak
        50400 Kuala Lumpur</p>
    </ion-card-content>
  </ion-card>
</ion-content>

