<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card>
      <ion-card-content>
        <!-- insert image -->
        <img src="assets/SN.jpg">
      </ion-card-content>
    </ion-card>
    <ion-card-header>
      <ion-card-title><center>SN Pet's care veterinary clinic  </center></ion-card-title>
    </ion-card-header>
    <ion-card-content >

      <!-- insert image -->
      
      <p> SN Pet's care veterinary clinic is a well-established, full service, small animal and exotic veterinary 
        clinic providing comprehensive preventive, medical, surgical and dental care.
        We provide a broad spectrum of diagnostic procedures through in-house testing and the use of external laboratories.
        We also work closely with local practices when special diagnostic procedures are required. The facility includes a well-stocked pharmacy, in-house surgery suite, 
        in-house x-ray capabilities, a closely supervised hospitalization area, and indoor boarding kennels.
        We understand that your pets are a part of your family. Thus, we treat each patient with the same love and gentle handling that we would expect for our own ‘kids’.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
