<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Doctors List</ion-title>
  </ion-toolbar>
</ion-header>

<!-- header at IOS interface -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Our teams</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- card for first article -->
  <ion-card>

    <ion-card>
        <!-- insert image -->
        <img src="assets/team.jpg">
    </ion-card>
    <ion-card-header>
      <ion-card-title><center>Datuk Dr. S. Sivagurunathan </center></ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- insert image -->
      <img src="assets/Dr-Siva-Pic.jpg">
      <p>For the past 40 years, Datuk Dr. S. Sivagurunathan nurtured and pioneered the Companion Animal veterinary industry in Malaysia. He is committed to animal welfare through his passion in animal care and well-being through his veterinary practice and foundation (MNAWF – Malaysian National Animal Welfare Foundation) which he founded with the aim to promote a caring Malaysian society through awareness
         and a balanced approach to animal welfare for the wellbeing of animals and mankind.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

