<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<!-- header at IOS interface -->
<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Services</ion-title>
    </ion-toolbar> 
  </ion-header>


  <!-- card for first article -->
  <ion-card>
    <ion-card-header>
      <ion-card-title><center>Preventive Health Care:</center></ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- insert image -->
      <img src="assets/vaccine.jpg">
      <p>Vaccination, deworming, heartworm prevention, geriatric health plan, desexing, antiparasitics, deticking, medicated washes</p>
    </ion-card-content>
  </ion-card>

  <!-- card for second article -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Labaratory Services</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- insert image -->
      <img src="assets/lab.jpg">
      <p>Blood hematology, biochemistry, urine, faecal assays, skin analysis, cytology, histology</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rehabilation Services</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/rehab.jpg">
      <p>Hydrotherapy
        Ultrasound Therapy
        Electrotherapy</p>
    </ion-card-content>
  </ion-card>
</ion-content>

