<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">PRODUCTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
     <ion-list-header>
       List Of Products
     </ion-list-header>

     <ion-item>
       <ion-avatar slot="start">

        <!-- Insert image -->
         <img src="assets/toys.jpg" width="100%">
       </ion-avatar>
       <ion-label>
         <h2>Pet Toys</h2>
         <h3>For Cats and Dogs</h3>
         <p>Various pets choice</p>
       </ion-label>
     </ion-item>

     <!-- Link to page ct203, created page ct203 in cmd -->
     <ion-item>
      <ion-avatar slot="start">
        <img src="assets/dental.jpg" width="100%">
      </ion-avatar>
      <ion-label>
        <h2>Food</h2>
        <h3>For Cats and Dogs</h3>
        <p>List of different brands</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/grooming.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Grooming Supplies & Shampoos</h2>
        <h3>Electronic products</h3>
        <p>Laxatone & Laxaire Hairball Remedy<br>
          Vet Ear Cleaner<br>
          Hypoallergenic & Medicated Shampoos (i.e. Malaseb Shampoo)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/heartworm.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Heartworm Preventatives</h2>
        <h3>For Dogs</h3>
        <p>Prevent Heartworms</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Copyright</ion-title>
  </ion-toolbar>
</ion-footer>
