<ion-header>
  <ion-toolbar>
    <ion-title>WELCOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid fixed align="center" >
    <ion-row>
      <ion-col size="12">
        <ion-button [routerLink]="['/login']" expand="full" shape="round" fill="solid" color="light" >
          <!-- <ion-icon slot="end" name="school-outline"></ion-icon> -->
          START
        </ion-button>
      </ion-col>
    
        <!-- <ion-col size="12">
          <ion-button [routerLink]="['/register']" expand="full" shape="round" fill="solid" color="light">
              <ion-icon slot="end" name="call-outline"></ion-icon> -->
            <!-- REGISTER
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-content>
<!-- <ion-content>
  <div class="ion-padding">

    <form class="ion-padding">
  
      <div class="wrap-input">
      <input class="input" type="email" [(ngModel)]="user.email" required>
      </div>
  
      <div class="wrap-input">
      <input class="input" type="password" [(ngModel)]="user.password" required>
      </div> 

      <div class="container-form-btn">
        <button class="form-btn custom-font" (click)="login(user)">
        Login
        </button>
      </div>  

      <div class="container-form-btn">
        <button class="form-btn custom-font" [routerLink]="['/register']">
        Register
        </button>
      </div>   
  
  
    </form>
  
  </div>
</ion-content> -->